/*******************************************
		COLORS
*******************************************/
$yellow-light: #EED9A0;
$yellow-light-tr: rgba(238, 217, 160, 0.9);
$yellow-dark: #D1BE8F;
$blue-dark: #0B1135;
$gray: rgba(85, 85, 85,1);
$gray-transparent: rgba(85, 85, 85,0.6);
/*$lightblue:rgba(23, 149, 204, 1);
$redlight:rgba(255, 100,100, 1);
$lightblue-transparent: rgba(23, 149, 204, 0.8);
$redlight-transparent:rgba(255, 100,100, 0.9);
$gradient-redbluelight-tobottom: linear-gradient(to bottom, rgba(23, 149, 204, 0),rgba(255, 100,100, 0.4));*/