/*******************************************
		Fonts
*******************************************/

@font-face {
    font-family: 'ak-logo';
    src:    url('../fonts/logo/ak-logo.eot?2br8r6');
    src:    url('../fonts/logo/ak-logo.eot?2br8r6#iefix') format('embedded-opentype'),
        url('../fonts/logo/ak-logo.ttf?2br8r6') format('truetype'),
        url('../fonts/logo/ak-logo.woff?2br8r6') format('woff'),
        url('../fonts/logo/ak-logo.svg?2br8r6#ak-logo') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aller';
    src:   url('../fonts/Aller/Aller_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aller';
    src:   url('../fonts/Aller/Aller_Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src:   url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src:   url('../fonts/Montserrat/Montserrat-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Norwester';
    src:   url('../fonts/Norwester/norwester.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kollektif';
    src:   url('../fonts/kollektif/Kollektif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kollektif';
    src:   url('../fonts/kollektif/Kollektif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
	font-family: 'Open Sans';
	src:   url('../fonts/Open Sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src:   url('../fonts/Open Sans/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src:   url('../fonts/Open Sans/OpenSans-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src:   url('../fonts/Open Sans/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src:   url('../fonts/Open Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}